################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/website/obj/Debug/website.pdb
/website/bin
/website/.vs
/website/obj
**/.idea
**/.gradle
**/build
**/obj 
**/bin 
**/out
*.user
log.txt
bag-cookie.txt
**/packages
*.o
*.a
*.iml
